* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #6E7F8D;
  transition: all .2s ease-in-out;
}

a:hover {
  cursor: pointer;
  color: #FB8F64;
}

body {
  background: #c4c4c4;
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;
}

button.twt-btn {
  border-radius: 21px;
  box-sizing: border-box;
  color: #FFFFFF;
  background: #FB8F64;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  padding: 8px 15px 8px 12px;
  margin: 0;
  margin-left: 20px;
  border-style: none;
  transition: all .3s ease-in-out;
}

div.user {
  display: inline-block;
  height: auto;
  width: 55%;
  margin: 8px;
  vertical-align: top;
}

i.fa {
  font-size: 20px;
  color: #6E7F8D;
  margin: 0 5px 0 25px;
  transition: all .2s ease-in-out;
}

i.fa-twitter {
  font-size: 25px;
  color: #1DA1F2;
  padding: 5px;
  margin: 7px 0;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

i.fa:hover {
  cursor: pointer;
  color: #FB8F64;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 3px solid #fff;
  display: inline-block;
}

input {
  margin: 15px 0;
}

input.search {
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  color: #14171a;
  display: inline-block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  padding: 8px 32px 8px 12px;
  transition: all .3s ease-in-out;
  margin: 0;
  margin-left: 14%;
  outline: 0;
}

nav.fixed-top {
  backface-visibility: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0, .5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

p.bio {
  font-size: 13px;
  margin-top: 10px;
  display: inline-block;
}

p.user-at {
  font-size: 14px;
  color: gray;
  margin-bottom: 7px;
}

ul {
  display: inline-block;
  margin: 8px 90px;
  vertical-align: middle;
  padding: 5px;
}

ul li {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
}

#main-container {
  display: block;
  height: 100%;
  background: #E6ECF0;
  position: relative;
  width: 80%;
  padding: 60px 14px 15px;
  margin: 0 auto;
  border: 1px solid rgba(8,8,8,.08);
}

#section1 {
  position: relative;
  display: inline-block;
  padding: 10px;
  border: 1px solid rgba(8,8,8,.08);
  width: 45%;
  height: 200px;
  clear: both;
  background: #FFFFFF;
}

#section2 {
  float: right;
  display: inline-block;
  width: 48%;
  overflow: hidden;
  vertical-align: top;
  background: #F5F8FA;
  padding: 15px;
  border: 1px solid rgba(8,8,8,.08);
}

#section3 p {
  margin-top: 5px;
}

#small-pic {
  width: 30px;
  height: 30px;
  margin: 0px;
  margin-left: 15px;
  padding: 0;
  border-radius: 100%;
  position: relative;
  top: 10px;
}

#submit-tweet {
  background: #1DA1F2;
  color: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 12px;
  transition: all .3s ease-in-out;
}

#submit-tweet:hover {
  background: gray;
  border-bottom-style: double;
}

#tweetpublished {
  margin-bottom: 20px;
}

.contador {
  float: right;
  overflow: hidden;
  display: inline-block;
  margin: 15px 0;
}

.dateClass {
  color: gray;
  font-size: 12px;
}

.myTweet {
  position: relative;
  display: block;
  height: auto;
  width: 520px;
  height: auto;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid gray;
}

.nav {
  background: #FFFFFF;
  position: relative;
  width: 100%;
  height: 46px;
  margin-bottom: 5px;
  display: inline-block;
}

.newTweet {
  height: auto;
  width: 98%;
  padding: 10px;
  background: #FFFFFF;
  margin: 20px 0;
  border: 1px solid rgba(8,8,8,.08);
}

.search:hover {
  border: 2px solid #FB8F64;
}

.twt-btn:hover {
  background: #FA743E;
  border-bottom-style: double;
}

.tweetcontainer {
  box-sizing: border-box;
  height: auto;
  color: #000;
  margin: 15px 0;
  margin-top: 100px;
  display: block;
}

.twt-btn:focus,
.myTweet:focus {
  outline: none;
}
